absl-py==0.12.0
amqp==5.0.6
app==0.0.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
billiard==3.6.4.0
cachetools==4.2.2
celery==5.1.2
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
ChatterBot==0.8.0
chatterbot-corpus==1.1.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
clock==0.1
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
efficientnet==1.0.0
et-xmlfile==1.1.0
Flask==1.1.2
Flask-HTTPAuth==4.4.0
flatbuffers==1.12
future==0.18.2
gast==0.3.3
geographiclib==1.52
geopy==2.1.0
google-auth==1.30.2
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
image-classifiers==1.0.0
imageio==2.9.0
imutils==0.5.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib @ file:///C:/TCAgent3/work/aea08b86c7c13e2f/base/conda-bld/joblib_1621665169450/work
jsondatabase==0.1.7
Keras==2.3.1
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kombu==5.1.0
Markdown==3.3.4
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.4.1
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
munkres==1.1.4
networkx==2.5.1
nltk==3.6.2
npm==0.1.1
numpy==1.21.0
oauthlib==3.1.1
opencv-python==4.5.2.54
openpyxl==3.0.7
openvino==2021.3.0
opt-einsum==3.3.0
optional-django==0.1.0
packaging==21.0
pandas==1.2.4
pathlib-mate==1.0.1
pillow==8.2.0
Pint==0.17
prompt-toolkit==3.0.19
protobuf==3.17.3
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pymongo==3.11.4
pyparsing==2.4.7
python-dateutil==2.6.1
python-twitter==3.5
pytz==2021.1
PyWavelets==1.1.1
PyYAML==3.13
regex==2021.7.6
requests==2.25.1
requests-oauthlib==1.3.0
resnet==0.1
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.22.1
scipy==1.6.3
seaborn==0.11.1
segmentation-models==1.0.1
six @ file:///C:/ci/six_1605187374963/work
sklearn==0.0
SQLAlchemy==1.1.18
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl @ file:///C:/TCAgent1/work/154a0dc5265e965b/base/conda-bld/threadpoolctl_1621481551865/work
tifffile==2021.6.6
toml==0.10.2
torch==1.9.0
tqdm==4.61.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.5
uszipcode==0.2.6
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
