<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nazakat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo.PNG" rel="icon">
  <link href="static/assets/img/logo.PNG" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Parisienne&family=Playball&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- FONT AWESOME ICONS -->
  <script src="https://kit.fontawesome.com/1488469f06.js" crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.3.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{{ url_for('index') }}"> <span> <img src="static/assets/img/logo2.png" alt=""></span></a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero" style="font-size: 22px;">Home</a></li>
          <li><a class="nav-link scrollto" href="#about" style="font-size: 22px;">Highlights</a></li>
          <li><a class="nav-link scrollto" href="#services" style="font-size: 22px;">Articles</a></li>
          <li><a class="nav-link scrollto" href="#team" style="font-size: 22px;">Doctors</a></li>
          <li><a class="nav-link scrollto" href="#faq" style="font-size: 22px;">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#contact" style="font-size: 22px;">Contact Us</a></li>
          <!-- <li><a class="getstarted scrollto" target="_blank" href="./period-tracker-gh-pages/index.html">Period Tracker</a></li> -->
          <li><a class="getstarted scrollto"  target="_blank" href="http://localhost:3005/#reload">Chatroom</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>New Moms</h1>
          <h2>“A mother’s joy begins when new life is stirring inside; when a tiny heartbeat is heard for the first time, and a playful kick reminds her that she is never alone.”</h2>
          
          <div style="margin-bottom: 10px;">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
          <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HYvBMFNJem0U1B" async> </script> </form>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://cdn2.momjunction.com/wp-content/uploads/2019/07/Inspiring-And-Encouraging-New-Mom-Quotes.jpg" class="d-block w-100" alt="...">
          
          <!-- <img src="https://thumbs.dreamstime.com/b/motherhood-woman-baby-her-arms-breastfeeding-infant-baby-boy-flat-isolation-motherhood-woman-baby-her-arms-181395861.jpg" class="img-fluid animated" alt=""> -->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about about-inner">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-4 d-flex align-items-center justify-content-center about-img">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"  style="width: 1000px; height: 800px;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe width="670" height="420" src="https://www.youtube.com/embed/ZyMQPoMTu_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       </div>
                <div class="carousel-item">
                    <iframe width="670" height="420" src="https://www.youtube.com/embed/yoeU6wmo0Fc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="670" height="420" src="https://www.youtube.com/embed/0GfOv7XvKYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframewidth="670" height="420" src="https://www.youtube.com/embed/GtK4DLqiRfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              <div class="carousel-item">
                <iframe width="670" height="420" src="https://www.youtube.com/embed/Z96BlVlPCHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0 shift">
            <h3 data-aos="fade-up" class="high" style="font-size: 25px;">Basic Facts</h3>
            <p data-aos="fade-up" data-aos-delay="100" style="font-size: 22px;">
                The moment a child is born, the mother is also born. She never existed before. The woman existed, but the mother, never. A mother is something absolutely new.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="fas fa-baby-carriage"></i>
                <h4>New Mommy must have </h4>
               
              </div>
             
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <i class="fas fa-baby-carriage"></i>
                  <h4>Bathing a Newborn Baby</h4>
                 
                </div>
                
                  <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <i class="fas fa-baby-carriage"></i>
                    <h4>Newborn Baby Care Immediately after Birth</h4>
                  </div>
                  
                  
                 
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="fas fa-baby-carriage"></i>
                <h4> New moms take care of postpartum health</h4>
               
              </div>
            
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <i class="fas fa-baby-carriage"></i>
                  <h4>Essential Tips to Breastfeed a Newborn</h4>
                  
                 
                </div>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
   
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="font-size: 25px;">Articles</h2>
          <p>Check out the great services we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href=""> </a>New Moms Need For Baby</h4>
              <p class="description">During the first 10 days home with your baby, some things will come very naturally, others may not. To help you get off to a good start, we created this quick guide for navigating the baby basics.... <a href="https://www.johnsonsbaby.in/preparing-for-baby/first-10-days-baby-basics?ds_rl=1285344&ds_rl=1285410&ds_rl=1285344&gclid=Cj0KCQjwiqWHBhD2ARIsAPCDzam0DeF52NVv6CfY5Qqm-41CalDRiJ2a83WatMASKx7B_dC7eDqoMpYaAshaEALw_wcB&gclsrc=aw.ds">Read More</a></p> </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href=""> </a> Everything you need before your baby arrives</h4>
              <p class="description">The ultimate newborn baby checklist can help you determine what you'll need to purchase and prepare as you get ready for baby's birth.   ... <a href=" https://www.todaysparent.com/checklists/newborn-checklist/">Read More</a></p> </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href=""> </a> New-Mom Must-Haves No One Tells You About</h4>
              <p class="description">Forget what you’ve read—we go beyond the basics and get right to the good stuff: the must-have baby items for first-time moms.    ... <a href="https://www.thebump.com/a/mom-must-haves">Read More</a></p> </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href=""> </a>Recovery and Care After Delivery</h4>
              <p class="description">The postpartum period refers to the first six weeks after childbirth. This is a joyous time, but it’s also a period of adjustment... <a href="https://www.healthline.com/health/postpartum-care">Read More</a></p>
            </div>
          </div>
        
          


        </div>

      </div>
    </section>
    <section id="team" class="team" >
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 style="font-size: 25px;">Doctors Available</h2>
          <p>Our doctors for this week</p>
          <a class="getstarted scrollto" target="_blank" href="https://pollunit.com/polls/hmi9rghlab3xium9fiybog" style="font-size: 50px;">Choose your Doc</a>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member">
              <img src="static\assets\img\doc\5.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Sushma</h4>
                  <span>Pyschologist</span>
                </div>
                
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="member">
              <img src="static\assets\img\doc\6.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Jaya</h4>
                  <span>Gynaecologist</span>
                </div>
                
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="member">
              <img src="static\assets\img\doc\7.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Anita</h4>
                  <span>Gynaecologist</span>
                </div>
                
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="member">
              <img src="static\assets\img\doc\8.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Ankita</h4>
                  <span>Pyschologist</span>
                </div>
                
              </div>
            </div>
          </div>

        </div>

      </div>
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check out our beautifull portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div> -->
    <!-- </section> -->
    <!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="font-size: 25px;">F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1" style="font-size: 25px;">Why are my hair falling off? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p style="font-size: 22px;">
                The earliest and most reliable sign of pregnancy is a missed period. If you have a regular monthly cycle, normally you get your period about 4 weeks from the start of your last period.</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question" style="font-size: 25px;">Is my baby getting enough to eat?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p style="font-size: 22px;">
                A There isn't a specific time when pregnancy food cravings start. It's different for every woman – and you may not necessarily have any cravings.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question" style="font-size: 25px;">How can I get my baby to sleep through the night? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p style="font-size: 22px;">
                Weight gain in pregnancy varies from person to person. It also depends on your weight before you become pregnant.</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question" style="font-size: 25px;">Does my baby need a bath daily?
                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p style="font-size: 22px;">
                You'll get most of the vitamins and minerals you need by eating a healthy, varied diet. But when you're pregnant (and while you are trying to get pregnant) you also need to take a folic acid supplement. </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question" style="font-size: 25px;"> Is breast feeding necessary?
                   <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p style="font-size: 22px;">
                Keeping active and doing exercise while you're pregnant is great for you and your baby. You can keep up your normal level of daily activity and exercise regime, as long as it still feels comfortable. <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            </div>
          </li>

          

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

   <!-- End Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="font-size: 25px;">Contact Us</h2>
          <p>Contact us the get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4 style="font-size: 25px;">Location:</h4>
                <p style="font-size: 25px;">Kattankulathur , Chennai-603203</p>
              </div>

              <div class="email" style="font-size: 22px;">
                <i class="bi bi-envelope"></i>
                <h4 style="font-size: 22px;">Email:</h4>
                <p style="font-size: 22px;">samy.53.ab@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4 style="font-size: 22px;">Call:</h4>
                <p style="font-size: 22px;">6392007344</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 style="font-size: 22px;">Nazakat</h3>
            <p style="font-size: 22px;">
              Kattankulathur <br>
              Chennai-603203<br>
              India <br><br>
              <strong style="font-size: 22px;">Phone:</strong>6392007344<br>
              <strong style="font-size: 22px;">Email:</strong> samy.53.ab@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 22px;">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 22px;">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 22px;">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 22px;">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 22px;">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Breast Cancer Prediction and Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Cervical Cancer Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Chatroom</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">ChatBot</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Information pages for women of all ages</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 25px;">Our Social Networks</h4>
            <p style="font-size: 25px;">Our Social handles are added below</p>
            <div class="social-links mt-3">
              
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4" style="font-size: 25px;">
      <div class="copyright" style="font-size: 25px;">
        &copy; Copyright <strong><span style="font-size: 25px;">Nazakat</span></strong style="font-size: 25px;">. All Rights Reserved
      </div>
      <div class="credits" style="font-size: 22px;">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://bootstrapmade.com/">La Femme</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>